<div>
  <game-control
    [shouldAnimate]="shouldAnimate"
    (startOver)="onStartOver()"
    (shuffle)="onShuffle()"
    (shuffleAtOnce)="onShuffleAtOnce()"
    (toggleAnimation)="onToggleAnimation()"
  >
  </game-control>

  <game-board
    [board]="board"
    [marked]="marked"
    [shouldAnimate]="shouldAnimate"
    [visibleLayers]="visibleLayers"
    (mark)="onMark($event)"
    >
  </game-board>

  <game-timeline
    [timeline]="timeline"
    (timeTravel)="onTimeTravel($event)"
  >
  </game-timeline>

  <game-footer>
  </game-footer>
</div>
