.Commit {
  display: table;
}

.Commit-box {
  display: table-cell;
  vertical-align: middle;
}

.Commits-box {
  display: table-cell;
  vertical-align: middle;
}

.Commit-point {
  margin: 0px;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #444;
  cursor: pointer;
  transition: all 150ms ease;
}

.Commit-point:hover {
  border-width: 0;
  width: 12px;
  height: 12px;
}

.Commit-point.isCurrentPosition {
  margin: 0px;
  width: 8px;
  height: 8px;
  border-width: 2px;
  border-color: #000;
  background-color: green;
  cursor: default;
}
