.GameControl {
  margin: 1em 0 2em;
  text-align: center;
}

button {
  padding: 1em;
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: 1em;
  font-family: monospace;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}
